*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.info{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left,rgba(12, 12, 12, 0.699),rgb(3, 66, 66));
    background-position: center;
    background-size: cover;
    position: absolute;
}
.title{
    color: dimgrey;
}
.form-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 520px;
    padding: 20px;
    background:rgba(236, 236, 230, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8) ;
    border-radius: 10px;
}
.input-group{  
    top: 60px;
    position: absolute;
    width: 350px;
    transition: .5s;
}
.Name{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Id{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Dept{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Semester{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Section{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.phoneNumber{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.mail{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Gender{
    position:relative;
    padding: 10px 25px;
    margin-left:20px;
}
.Password{
    position:relative;
    padding: 10px 25px;
    margin-left:15px;
}
.Submit{
    position:relative;
    padding: 10px 25px;
    margin-left:20px;
    cursor: pointer;
    display: block;
}
